body {
    background-color: #EBEBEB;
}

div.user {
    margin: auto; 
    width: 80vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    padding-top: 20vw;
    z-index: 1;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #F76C6C; 
    display: flex;
    align-items: center;
    justify-content: center;
}  

.connexion {
    padding-top: 10vh;
    margin: auto;
    width: 80vw;
    height: 36vh;
    background: white;
    border-radius: 20px;
    margin-bottom: 22vh;
    margin-top: 4vh ;
    display:flex;
    flex-direction: column;
    align-items: center;
}

input.userName, .pass {
   border-radius: 20px;
   width: 85%;
   height: 4vh;
   border:none;
   background-color: #EBEBEB;
   padding:2vh;
   margin-top: 1vh;
   margin-bottom:2vh;
}

label.user {
    color:darkslategrey;
    margin-right: 30vw;
 }

 label.password {
    color:darkslategrey;
    margin-right: 40vw;
 }

 #myBtn:hover {
    background-color:#F76C6C;
 }

 #myBtn {
    width: 25vw;
    height: 3vh;
    border-radius: 10px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    border: none;
    color: white;
    text-transform: uppercase;
    background-color: #194350;
    font-weight: bolder;

 }
 
 .modal {
    display: none; 
    position: fixed; 
    padding-top: 30vh;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100vw; 
    height: 100vh; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.164); 
  }

  .modalContent {
    background-color: white;
    border-radius: 20px;
    margin: auto;
    padding: 20px;
    width: 50vw;
    height: 7vh;
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #F76C6C;
    text-decoration: none;
  }

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 1vh;
    font-size: 0.9rem;
    color: darkslategray;
}


@media only screen and (min-width: 700px) {
    div.user {
        margin: auto; 
        width: 10vw;
        height: 10vh;
        display: flex;
        justify-content: center;
        padding-top: 5vw;
    }
    
    div.frame {
        margin: auto;
        width: 30vw;
        height: 50vh;
        background: white;
        border-radius: 20px;
        margin-bottom: 8.8vh;
        margin-top: 6vh;
    }

    
    .connexion {
        padding-top: 10vh;
        margin: auto;
        width: 40vw;
        height: 50vh;
        background: white;
        border-radius: 20px;
        margin-bottom: 9vh;
        margin-top: 6vh;
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    
    label.user {
        color:darkslategrey;
        margin-right: 24vw;
    }

    label.password {
        color:darkslategrey;
        margin-right: 27vw;
    }

    input.userName, .pass {
        border-radius: 20px;
        width: 85%;
        height: 6vh;
        border:none;
        background-color: #EBEBEB;
        padding:2vh;
        margin-top: 2vh;
        margin-bottom:3vh;
     }

    #myBtn {
        width: 7vw;
        height: 3vh;
        border-radius: 10px;
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-decoration: none;
        border: none;
        color: white;
        text-transform: uppercase;
        background-color: #194350;
        font-weight: bolder;
        margin-top: 5vh;
     }

    button {
        margin-left: 13vw;
        margin-top: 6vh;
    }

    p {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding-bottom: 7px;
        color: darkslategray;
    }

    .modalContent {
        background-color: white;
        border-radius: 20px;
        margin: auto;
        padding: 20px;
        width: 20vw;
        height: 8vh;
      }
    

}