/*Header*/
*{
    box-sizing : border-box;
    max-width:100%
}
body {
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
}
header {
    top:0;
    position: fixed;
    height: 19vh;
    background-color: rgb(224, 99, 99);
    width: 100vw; 
}
div.headerTop{
    display: flex;
}

div.burger{
    width: 20vw;
    padding: 2vh;
    align-self: center;
}
div.menuBurger{
    position: absolute;
    display:none;   
    top:0; 
    width: 100vw;
    height: 100vh;
    background: white;
    opacity: 0.95;
    font-size: 2rem;
    z-index: 1000;
}
div.noBurger{
    position: relative;
    display: flex;
    flex-direction: column;
}
div.burger div{
    height: 5px;
    width: 30px;
    background: rgba(165, 101, 101, 0.56);
    border-radius: 5px;
    margin: 6px 0px;
}

div.categories li{
    padding: 5vh;
    list-style: none;

    
}
div.categories li a{
    text-decoration: none;
    color: #000000;
    
    
}
div.categories{
    border-top: 20vh;
    padding: 5vh;
}
svg.crossIcon{
    position: absolute;
    right: 10vw;
    align-self: flex-end;
    height: 5vh;
    margin: 5vw;

}

nav.headerright{
    display: flex;
    width: 20vw;
    align-items: center;

}
nav.headerright ul {
    display: flex;
    justify-content: space-between;
    width: 20vw;
    padding-right: 5vw;
}

a.valeurs {
    color: white;
    text-decoration: none;        
}

div.logo {
    display: block;
    margin: auto;
}

div.logo img {
    height: 7vh;
}


nav.headerright ul li{
    list-style: none;
    height: 100%;
}
    
.searchbar {
    display: block;
    margin: auto;
    color: #ACA6A6;
    font-size: 10px;
    background-color: #F9F4F4;
    border-radius: 5px;
    height: 4.5vh;
    width: 60vw;
    padding-left: 1vw;
    
}
.baseline {
    color:white;
    font-size: 0.8rem;
    padding: 1vh;
    padding-top: 2.5vh;
    text-align: center;
}

/*Main*/



main{
    margin-top: 19vh;
    width: 100vw;
    background-color: #EBEBEB;
}


article.valeurs, article.meilleuresVentes{
    display: block;
    margin: auto;
    background-color: #ffffff ;
    width: 80vw;
    border-radius: 10px;
    text-align: center;
    
}

.catchphrase {
    color: #194350;
    font-size: 15px;
    text-align: center;
    padding: 2vh;
}

h1{
    color: #F76C6C;
    font-size: 2rem !important;
    text-align: center; 
    padding: 2vh 0 !important;

}

article.meilleuresVentes h2, article.valeurs h2{
    color: #F76C6C;
    font-size: 20px;
    text-align: center; 
    padding-top: 1rem;
}

article.valeurs p {
   color: #000000;
   font-size: 1.2rem;
   letter-spacing: normal;
   padding: 2vh 4vw;
   text-align: inherit;
}
article.valeurs div{
    padding: 3vh 0; 
}

article.valeurs a {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #39424E;
    padding: 1vh;
    border-radius: 10px;
    border:none;
    margin-bottom: 1vh;
}

article.meilleuresVentes{
    margin: 10vh auto;
}


div.slider{
    display: flex;
    overflow: hidden;
    background-color: #EBEBEB;
    margin: 2vh 12.5vw;
    

}
img.slide{
    margin:2.5vw;
    width: 20vw;
    height: auto;
    border-radius: 5px;
}

/*Footer*/

footer {

    background-color: #39424E;
    width: 100vw;
    display: flex;
    justify-content: space-between;


}

footer ul {
    list-style: none;

}
footer ul li {
    padding-bottom: 1vh;
}

footer li a {
    text-decoration: none;
    color: white;
    font-size: 0.9rem; 
    
    line-height: 1.2rem;
}

footer li a:hover {
    color:rgb(224, 99, 99);
}

.list {
    width: 50vw;
    padding-top: 1vh;
    margin-left: 6vw;
}
 
.containernetworks {
    text-align: center;
    margin-left: 6vw;
    margin-right: 6vw;
    padding-top: 1vh;

}

.socialnetworks {
    display: flex;
    flex-direction: column;
    
}

.socialnetworks p {
    color:white;
    margin-bottom: 0.5vh;
}

.pictosocialnet {
    height: 40px;
    width: auto;
    padding: 0.5vh 0.5vw;
}

.containernetworks p {
    font-weight: bold;
    font-size: 0.8rem;
}




@media only screen and (min-width: 700px) {
    header{
        height: 13vh;
    }
    main{
        margin-top:13vh;
    }
    div.logo {
        position: absolute;
        top:0;
        height: 19vh;
        padding-left: 2vw;
        z-index: 10;   
    }

    div.logo img {
        align-self: center;
        height: 9vh;
    }
    div.logo a {
        display: flex;
        height: 10vh;
        line-height: 10vh;
        
    }
    div.burger{
        display: none;
    }

  
    nav.headerright{
        position:absolute;
        top:0;
        right: 0;
        height: 10vh;
        width: 10vw;
        padding-right: 2vw;
        margin-left: 80vw;;
      

    }
    nav.headerright ul {
        display: flex;
        padding-right: 2vw;
        justify-self: flex-end;
    }
    div.headerBottom{
        margin-top: 10vh;   
    }
    
    div.menuBurger{
        display: flex;
        background: none;
        width: 50vw;
        height: 10vh;
        z-index: 1;
        margin-left: 15vw;
    }
    
    .crossIcon{
        display:none;
    }

    div.menuBurger ul{
        display: flex;;
    }
    div.categories{
        position: absolute;
        position: fixed;
        top:0;
        display:flex;
        align-items: center;
        font-size: 1rem;
        width: 50vw;
        height: 9vh;
        padding: 0;
        
        border: 0;
    }
    div.categories li{
        padding: 0;
        padding-right: 3vw;
    }
    div.categories li a{
        color:white;
        font-weight: bold;
    }
    div.categories li a:hover {
        color:#39424E;
    }
    

    .searchbar {
        width: 20vw;
        position: absolute;
        right: 15vw;
        top: 3vh;
    }
    .baseline{
        padding: 0;
    }

    article.valeurs p{
        font-size: 1.2rem;
    }

    div.list{
        display:flex;
        align-items: center;   
    }
    div.list ul{
        display:flex;
        justify-content: center;
    }
    div.list ul li a{
        font-size: 1rem;
        padding-right: 2vw;
    }

    .pictosocialnet {
        height: 5vh;
        padding: 0.1vh 0.5vw;
    }
    .containernetworks{
        height: 15vh;
        width: 50vh;
        margin:0;
        margin-left: 2vw;
        justify-content: center;
    }

    .containernetworks p {
        font-weight: bold;
        font-size: 1rem;
        
    }
    div.lines{
        display: flex;
        justify-content: center;
        align-items: center; 
        height: 12vh;
        padding-top: 1vh ;

    }
    

}
