*{
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

body {
    background-color: #EBEBEB;
}

article.teamcards {
    background-color: #FFFFFF;
    width: 60vw;
    aspect-ratio: 3/4;
    margin: auto;
    margin-top: 4vh;
    padding: 2vh;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 10px;
}

article.teamcards div img {
    display: block;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: 3px;
}

section.teampres {
    width: 85vw;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding: 1vh;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 10px;
}

section.teampres h2 {
    color: #F76C6C;
    font-size: 2rem;
}

section.teampres p {
    text-align: center;
    color: #194350;
    font-size: 1.25rem;
    padding: 3vh;
}

@media only screen and (min-width: 600px) { 

div.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 40px 0;
}

article.teamcards {
    width: 25vw;
    aspect-ratio: 3/4;
    margin-top: 8vh;
    margin-right: 2vw;
    margin-left: 2vw;
    padding: 2vh;
    font-size: 2rem;
}

article.teamcards div img {
    margin-bottom: 4vh;
}


section.teampres {
    margin-top: 8vh;
    margin-bottom: 5vh;
    padding: 3vh;
}
